.footer {
  background: #01024e;
  color: #fff;
}

.footer-content {
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
  font-family: "Fanwood Text", sans-serif;
  font-size: 20px;
}
